@import url('https://fonts.googleapis.com/css?family=Courgette');
*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background: #ff0000;;
  padding: 25px;
  padding-right: 30px;
}
.title
{
        font-size: 3em;
        color:;
    font-family: 'Courgette', cursive;
  margin: 20px auto;
  padding-left: 550px;
  }
div.widget
{
  position: relative;
  width: 500px;
  height: 350px;
  margin: 43px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 30px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

div.left-panel
{
  
}

div.date
{
  font-size: 20px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

div.city
{
  font-size: 31px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  color: rgba(0,0,0,0.7);
}

div.details
{
  font-size: 120px;
  color: rgba(0,0,0,0.9);
  font-weight: 110;
  padding-top: 40px;
}

img.weather-icon
{
  height:100px;
  width:80px;
}
div.panel
{
  display: inline-block;
  margin-top: auto;
    padding: 15px;
}

div.right-panel
{
  position: absolute;
  float: right;
  top: 0;
  margin-top: 100px;
  padding-left: 1px;
}

.search
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input
{
  border:0;
  outline:0; 
  padding:10px 25px;
  height:60px;
  border-radius:30px;
  flex:1;
  margin-right: 16px;
  font-size: 18px;
}
.search input:hover{
  background:black;
  color: white;
}
.search button{
  border: 0;
  outline:0;
  background: red;
  border-color: gray;
  border-radius: 50px;
  width:60px;
  height: 60px;
  cursor: pointer;
}
.search button:hover{
  background:black;
}
.search button img
{ 
  width: 16px; 
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}
